services:
  - type: web
    name: storemanager # اسم أبسط
    buildCommand: "./build.sh"
    startCommand: "gunicorn store_manager.wsgi:application"
    healthCheckPath: /
    envVars:
      # --- المتغيرات الأساسية ---
      - key: SECRET_KEY
        generateValue: true # Render سيقوم بتوليد مفتاح سري آمن
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "store-manager-f8ka.onrender.com" # تأكد من أن هذا هو اسم خدمتك
      - key: WEB_CONCURRENCY
        value: "4" # قيمة موصى بها من Render

      # --- قاعدة البيانات (Supabase) ---
      - key: DATABASE_URL
        value: "postgresql://postgres.etqztxnevdbvbuvjmfyg:storemanager@aws-1-eu-central-1.pooler.supabase.com:6543/postgres"

      # --- إعدادات بوت التليجرام ---
      - key: TELEGRAM_BOT_TOKEN
        value: "7831308401:AAGOv413kZBkgIKihaKebbzFrDNB0_LediQ"
      - key: TELEGRAM_CHAT_ID
        value: "6256197597"

      # --- إعدادات تخزين الملفات (Supabase S3) ---
      - key: USE_S3
        value: "True" # تفعيل رفع الملفات على Supabase
      - key: SUPABASE_S3_ACCESS_KEY_ID
        value: "236239b60873de099d04bb8967450fd0"
      - key: SUPABASE_S3_SECRET_ACCESS_KEY
        value: "12f747d97d7ed8d4572ccb85e286f72f862b7b5309b2c88191fea05fb4502a8b"
      - key: SUPABASE_S3_BUCKET_NAME
        value: "storemanagerbucket"
      - key: SUPABASE_S3_ENDPOINT_URL
        value: "https://etqztxnevdbvbuvjmfyg.storage.supabase.co/storage/v1/s3"
      - key: SUPABASE_S3_REGION_NAME
        value: "eu-central-1"